*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.first{
padding: 30px 0px;
margin-bottom: 5rem;
}


.first a{
    text-decoration: none;
    
}

#enter{
    padding-bottom: 7rem;
}



.logo{
    font-size: 23px;
    padding-left: 5rem;
}



#enter h1{
    font-size: 40px;
}

#enter p{
    font-size: 20px;
}

.container{
    padding-top: 7rem;
}

.last{
    margin-top: 
        5rem
    ;
}





